:root {
    --footer-bg-color: #081c24;
  }

.footer {
    background-color: var(--footer-bg-color);
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}